
.table-container {
    width: 100%;
    background: var(--color-background-secundary);
    border-radius: .5rem;
    margin: 3rem 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}

.table-container table {
    width: 100%;
    font-size: 2.3rem;
    color: var(--color-font-primary);
    border-collapse: collapse;
}

.table-container thead th {
    padding-left: 2rem;
    border: 0;
    border-bottom: 1px solid var(--color-blue-third);
}

.table-container tbody td {
    padding-left: 2rem;
    border: 0;
    border-bottom: 1px solid var(--color-blue-third);
}

.table-container tbody tr:last-child td {
    border-bottom: 0;
}

.titulo-partidas {
    font-size: 3.4rem;
    font-weight: 500;
    color: var(--color-blue-secundary);
    margin: 3rem 0;
}

.partidas-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partidas-container .semana-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.partidas-container .semana-container h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--color-blue-third);
    margin-bottom: 2rem;
}

.partidas-container .semana-container .partida-box {
    width: 30.3rem;
    height: 9.8rem;
    background: var(--color-blue-fourth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    border-radius: 1.9rem;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
}

.partidas-container .semana-container .partida-box .time1 {
    width: 100%;
    height: 4.8rem;
    background: var(--color-background-secundary);
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.partidas-container .semana-container .partida-box .time2 {
    width: 100%;
    height: 4.8rem;
    background: var(--color-background-secundary);
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.partidas-container .semana-container .partida-box .time1 h4, .time2 h4 {
    height: 100%;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-font-primary);
    padding-top: 1rem;
}

.partidas-container .semana-container .partida-box .time1 h4:last-child, .time2 h4:last-child {
    border-left: 2px solid var(--color-blue-fourth);
    padding-left: 1rem;
}