
@import '../../styles/utils';

.post {
    width: 100%;
    min-height: 730px;
    background-color: var(--color-background-secundary);
    border-radius: .5rem;
    margin: 3rem 0 0;
    @include sombra;

    .post-img {
        width: 100%;
        max-height: 550px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        @include sombra;
    }

    .imagens {
        width: 100%;
        height: 11rem;
        @include displayFlex(flex-start, center);
        border-bottom: .2px solid var(--color-blue-third);

        img {
            width: 120px;
            height: 9rem;
            margin-left: 1.5rem;
            border-radius: 1.5rem;
            border: 2px solid var(--color-blue-third);
            transition: .2s;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }
        }
    }

    .post-conteudo {
        width: 100%;

        .post-cabecalho {
            @include displayFlex(space-between, center);
            padding: 2rem;

            h1 {
                @include texto(3.9rem, var(--color-blue-third));
                
            }

            h5 {
                @include texto(2.5rem, var(--color-font-primary));
                opacity: .7;
            }
        }

        pre {
            @include texto(2.8rem, var(--color-font-primary));
            font-family: Roboto;
            padding: 2rem;
        }
    }
}