@import '../../styles/components/tabela';
@import '../../styles/utils';

.time-container {
    @include displayFlex(space-between, flex-start);
    margin-top: 3rem;

    .time-infos {
        width: 25rem;
        min-height: 33rem;
        background: var(--color-background-secundary);
        @include displayFlex(center, center);
        flex-direction: column;
        padding-top: 1rem;
        border-radius: .5rem;
        @include sombra;

        .time-sem-imagem {
            width: 17rem;
            height: 17rem;
            background: var(--color-background-input);
            @include displayFlex(center, center);
            border: 2px solid var(--color-blue-third);
            border-radius: 20px;
            margin-bottom: 1.5rem;
            cursor: pointer;
            border-radius: 99990px;
            transition: filter 0.3s;
        }

        img {
            width: 19rem;
            border-radius: 99999px;
            margin-bottom: 2rem;
            @include sombra;
        }

        h2 {
            @include texto(2.8rem, var(--color-font-primary));
            font-weight: 400;
            margin-bottom: 1rem;
            text-align: center;

            &:last-child {
                @include texto(2.3rem, var(--color-font-primary));
                margin-bottom: 1.5rem;
            }
        }
    }

    .time-conteudo {
        width: 77rem;
        min-height: 40rem;
        background: var(--color-background-secundary);
        @include displayFlex(none, center);
        flex-direction: column;
        padding: 2rem;
        border-radius: .5rem;
        @include sombra;

        .time-conteudo-cabecalho {
            width: 100%;
            @include displayFlex(space-between, center);
            margin-bottom: 2rem;

            h2 {
                @include texto(3.9rem, var(--color-blue-secundary));
            }

            a {
                text-decoration: none;

                button {
                    width: 20rem;
                    height: 5.5rem;
                    background: var(--color-background-third);
                    @include texto(1.8rem, var(--color-blue-third));
                    @include displayFlex(space-around, center);
                    padding: 0 1.5rem;
                    border: 2px solid var(--color-blue-secundary);
                    border-radius: 1.5rem;
                    transition: .2s;

                    &:hover {
                        background: var(--color-blue-third);
                        color: var(--color-font-secundary);
                    }
                }
            }
        }


        .time-jogadores-tabela {
            @extend %tabela;
            width: 100%;

            table {
                
                th {
                    font-size: 2rem;
                }
    
                td {
                    font-size: 2rem;
                    .time-jogadores-imageless { 
                        @extend %imageless;

                        width: 3rem;
                        height: 3rem;
                    }

                    .time-jogador-lider {
                        margin-left: 1rem;
                    }

                    .botao-desabilitado {
                        background: var(--color-background-inputblock);

                        &:hover {
                            background: var(--color-background-inputblock);
                        }
                    }

                    img {
                        width: 3.2rem;
                        margin: 0;
                    }

                    .time-jogadores-info {
                        @include displayFlex(flex-start, center);
                    }

                    &:nth-child(2) {
                        width: 43rem;
                    }

                    &:last-child {
                        width: 5rem;
                        padding: 1rem 1.5rem;
                    }
                }
            }
        }

    }
}




