
@import '../../styles/mixins';

.conteudo {
    width: 100%;
    @include displayFlex(space-between, flex-start);
    margin-top: 3rem;

    .conteudo-centro {
        width: 70rem;
        @include displayFlex(initial, center);
        flex-direction: column;

        .placeholder {
            margin-top: 8rem;
        }

        .post-caixa {
            width: 70rem;
            height: 42rem;
            background: var(--color-background-secundary);
            border-radius: .5rem;
            margin-top: 4rem;
            @include sombra;

            .post-img {
                width: 100%;
                height: 80%;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;

                &:hover {
                    opacity: .9;
                }
            }

            .post-conteudo {
                width: 100%;
                height: 20%;
                padding: 0 2rem;
                @include displayFlex(initial, center);

                a {
                    text-decoration: none;

                    h2 {
                        @include texto(3.8rem, var(--color-blue-secundary));
                        font-weight: 400;
                        transition: .2s;

                        &:hover {
                            color: var(--color-blue-third);
                        }
                    }
                }
            }
        }
    }

    .conteudo-lateral {
        width: 27rem;
        @include displayFlex(space-between, flex-end);
        flex-direction: column;

        .botao-criar {
            @include button(var(--color-green-primary), 3rem, 27rem, 6.2rem, var(--color-green-secundary));
            border-radius: 1.5rem;
        }

        .discord {
            width: 27rem;
            height: 36rem;
            border: 0;
            margin-top: 4rem;
            border-radius: .5rem;
            @include sombra;
        }
    }
}
