
@import '../../styles/utils';

.cabecalho {
    width: 100vw;
    height: 8vh;
    background: var(--color-background-secundary);
    @include sombra;

    .cabecalho-area {
        width: 1000px;
        height: 8vh;
        @include displayFlex(space-between, center);
        margin: 0 auto;
        overflow: hidden;    
    
        .menu {
            width: 68vh;
            list-style: none;
            margin-top: 1.5rem;
            @include displayFlex(space-between, center);
        
            .menu-item {
                @include texto(2.3vh, var(--color-blue-secundary));
                font-weight: 400;
            
                a {
                    text-decoration: none;
                    color: var(--color-blue-secundary);
                }
            }
        
            .logo {
                height: 6.5vh;
                transform: translate( 0, -8%);
                margin-right: 1rem;
            }
        
        }
    
        .menu-icon {
            width: 80px;
            @include displayFlex(space-between, center);
            list-style: none;
            margin-top: 1rem;
        
            .menu-item {
                @include texto(3.2rem, var(--color-blue-secundary));
            
                a {
                    color: var(--color-blue-secundary);
                }
            }
        }
    }
}
