.cabecalho {
    width: 1000px;
    height: 90px;
    background: #fff;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 1px 1px 8px #888;
}

.cabecalho .menu {
    width: 590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 1.5rem;
}

.cabecalho .menu .menu-item {
    font-size: 2.8rem;
    color: var(--color-blue-secundary);
    font-weight: 400;
}

.cabecalho .menu .menu-item a {
    text-decoration: none;
    color: var(--color-blue-secundary);
}

.cabecalho .menu .logo {
    width: 170px;
    transform: translate( -10px, -8%);
}

.cabecalho .menu-icon {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 1rem;
}

.cabecalho .menu-icon .menu-item {
    font-size: 3.4rem;
    color: var(--color-blue-secundary);
}



