.modal {
    margin-top: -3rem;

    .modal-content {
        background: var(--color-background-secundary);   
        border-radius: 1.5rem;

        .modal-header {
            color: var(--color-font-secundary);
            @include displayFlex(center, center);
            border: 0;

            .modal-title {
                position: relative;
                @include texto(3rem, var(--color-blue-secundary));
                text-align: center;
                @include displayFlex(center, center);
                margin-top: 1rem;
            }
        }

        .modal-body {
            @include displayFlex(center, center);
            @include texto(2.5rem, var(--color-font-primary));
        }

        .modal-footer {
            @include displayFlex(center, center);
            border: 0;
            margin: 2rem 0;

            .botao-confirmar {
                @include button(var(--color-green-primary), 2.5rem, 18rem, 6rem, var(--color-green-secundary));
                margin-right: 1rem;
            }

            .botao-voltar {
                @include button(var(--color-red-primary), 2.5rem, 18rem, 6rem, var(--color-red-secundary));
            }
        }
    }
}