
@import '../../styles/utils';

.placeholder {
    width: 100%;
    height: 100%;
    @include displayFlex(center, center);
    flex-direction: column;
    margin-top: 5rem;
    opacity: .6;

    h2 {
        width: 52rem;
        @include texto(3.5rem, var(--color-blue-secundary));
        text-align: center;
        margin-top: 2rem
    }
}