
.administracao-container {
    width: 100%;
    min-height: 67rem;
    background: var(--color-background-secundary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 3rem 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
}

.administracao-container .administracao-tab {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid var(--color-blue-third);
}

.administracao-container .administracao-tab .nav-item {
    width: 12rem;
    font-size: 2.5rem;
    color: var(--color-font-secundary);
    background: var(--color-blue-third);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 1rem;
}

.administracao-container .administracao-tab .active {
    background: var(--color-background-secundary);
    color: var(--color-blue-third);
    border: 0px;
    border-top: 3px solid var(--color-blue-third);
    border-right: 1px solid var(--color-blue-third);
    border-left: 1px solid var(--color-blue-third);
}

.administracao-container .administracao-tab .nav-item:first-child {
    border-left: 0;
}


.administracao-container .administracao-tab-container{
    width: 104rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.administracao-container .administracao-tab-container .tab-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 3rem;
}

.administracao-container .administracao-tab-container .tab-header h2 {
    font-size: 3.2rem;
    color: var(--color-font-primary);
}

.administracao-container .administracao-tab-container .tab-header .input-grupo {
    background: var(--color-background-third);
    border: 1px solid var(--color-blue-third);
    border-radius: .5rem;
    box-shadow: none;
}

.administracao-container .administracao-tab-container table {
    width: 100%;
    background: var(--color-background-third);  
    font-size: 2.3rem;
    color: var(--color-font-primary);
    border-collapse: collapse;
}

.administracao-container .administracao-tab-container table th, .administracao-container .administracao-tab-container table td {
    vertical-align: middle;
    border: 1px solid var(--color-blue-third);
}

.administracao-container .administracao-tab-container table th {
    font-size: 2.4rem;
}

.administracao-container .administracao-tab-container table td div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.administracao-container .administracao-tab-container table td img {
    width: 3.2rem;
    margin-right: 1rem;
}

.administracao-container .administracao-tab-container table td button {
    width: 4rem;
    height: 4rem;
    color: var(--color-font-secundary);
    margin: 0 .5rem;
    border: 0;
    border-radius: 1rem;
    transition: background .2s;
}

.administracao-container .administracao-tab-container table td .butao-alterar {
    background: var(--color-yellow-primary);
}

.administracao-container .administracao-tab-container table td .butao-alterar:hover {
    background: var(--color-yellow-secundary);
}

.administracao-container .administracao-tab-container table td .butao-excluir {
    background: var(--color-red-primary);
}

.administracao-container .administracao-tab-container table td .butao-excluir:hover {
    background: var(--color-red-secundary);
}

.administracao-container .administracao-tab-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.administracao-container .administracao-tab-container form fieldset {
    width: 48.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.administracao-container .administracao-tab-container form fieldset label {
    font-size: 3rem;
    color: var(--color-font-primary);
}

.administracao-container .administracao-tab-container form fieldset input, 
.administracao-container .administracao-tab-container form fieldset select {
    width: 100%;
    height: 5.5rem;
    background: var(--color-background-third);
    font-size: 3rem;
    color: var(--color-font-third);
    padding: 1rem;
    margin: 1rem 0 2rem;
    border: 1px solid var(--color-blue-secundary);
    border-radius: .5rem;
}

.administracao-container .administracao-tab-container form fieldset input::placeholder {
    background: transparent;
    color: var(--color-font-third);
    opacity: .5;
}

.administracao-container .administracao-tab-container form fieldset input:read-only {
    background: var(--color-background-inputblock);
    color: var(--color-font-third);
}

.administracao-container .administracao-tab-container form fieldset .botoes-classes {
    width: 100%;
    height: 8.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.administracao-container .administracao-tab-container form fieldset .botoes-classes img {
    width: 4.3rem;
    height: 4.3rem;
    margin: .5rem 0 2rem;
}

.administracao-container .administracao-tab-container form .botoes-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.administracao-container .administracao-tab-container form .botoes-container button {
    width: 48.5%;
    height: 5.5rem;
    font-size: 3rem;
    color: var(--color-font-secundary);
    border: 0;
    border-radius: 1rem;
    transition: .3s;
}

.administracao-container .administracao-tab-container form .botoes-container .botao-alterar {
    background: var(--color-yellow-primary);
}

.administracao-container .administracao-tab-container form .botoes-container .botao-alterar:hover {
    background: var(--color-yellow-secundary);
}

.administracao-container .administracao-tab-container form .botoes-container .botao-voltar {
    background: var(--color-red-primary);
}

.administracao-container .administracao-tab-container form .botoes-container .botao-voltar:hover {
    background: var(--color-red-secundary);
}

.modal {
    margin-top: -3rem;
}

.modal .modal-content {
    background: var(--color-background-secundary);   
    border-radius: 1.5rem;
}

.modal .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: var(--color-font-secundary);
}

.modal .modal-content .modal-header .modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--color-blue-secundary);
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

.modal .modal-content .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--color-font-primary);
}

.modal .modal-content .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin: 1rem 0;
}

.modal .modal-content .modal-footer button {
    width: 18rem;
    height: 6rem;
    font-size: 2.5rem;
    color: var(--color-font-secundary);
    border: 0;
    border-radius: 1rem;
    transition: .3s;
}

.modal .modal-content .modal-footer button:first-child {
    margin-right: 2rem;
}

.modal .modal-content .modal-footer .butao-confirmar {
    background: var(--color-green-primary);
}

.modal .modal-content .modal-footer .butao-confirmar:hover {
    background: var(--color-green-secundary);
}

.modal .modal-content .modal-footer .butao-voltar {
    background: var(--color-red-primary);
}

.modal .modal-content .modal-footer .butao-voltar:hover {
    background: var(--color-red-secundary);
}