.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.header h1 {
    font-size: 3.9rem;
    color: var(--color-blue-primary);
}

.header .navegacao {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2rem;
    color: var(--color-blue-fourth);
    font-weight: 300;
}

.header .navegacao .link-area {
    display: flex;
    align-items: center;
}

.header .navegacao .link-area .link-divisao {
    font-size: 1.3rem;
    margin: 0 1rem;
}

.header .navegacao .link-area:last-child .link-divisao {
    display: none;
}

.header .navegacao .link-area .link a {
    text-decoration: none;
    color: var(--color-blue-fourth);
    transition: .1s;
}

.header .navegacao .link-area .link a:hover {
    color: var(--color-blue-secundary);
}