:root {
    font-size: 60%;

    --color-blue-primary: #09639E; 
    --color-blue-secundary: #287eb6;
    --color-blue-third: #4695c8 ;
    --color-blue-fourth: #6AAEDA;
    --color-blue-fifth: #9BCCEB;
    --color-green-primary: #21C275;
    --color-green-secundary: #41d18c;
    --color-red-primary: #E95252;
    --color-red-secundary: #ff7c7c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e6e6e6;
    font-family: Roboto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body,
input,
button,
textarea {
    font-family: Roboto;
}

.container {
    width: 1000px;
    padding: 0;
}